
body {
  font-family: sans-serif;
  background: #111;
  color: #eee;
  padding: 2rem;
  text-align: center;
}

#pdfArea {
  margin-top: 2rem;
}

.editable {
  position: absolute;
  background: transparent;
  color: cyan;
  font-family: monospace;
  font-size: 14px;
  border: none;
  outline: none;
}
